
@font-face {
  font-family: 'tensoren_font';
  src: url('assets/font/SourceHanSans-Normal.otf');
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: 'tensoren_font';
  /*color: #015080;*/
}

a {
  /*color: #f7f7f7;*/
}



